@mixin button-size ($padding-x, $padding-y, $font-size, $border-radius) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    border-radius: $border-radius;
}

@mixin button-style($background,
    $border,
    $color,
    $border-style:$border-style,
    $hover-background:lighten($background, 7.5%),
    $hover-border:lighten($border, 10%),
    $hover-color:$color) {
    color: $color;
    background: $background;
    border-color: $border;
    border-style: $border-style;
    &:hover {
        color: $hover-color;
        background: $hover-background;
        border-color: $hover-border;
    }

    &:focus,
    &.focus {
        color: $hover-color;
        background: $hover-background;
        border-color: $hover-color;
    }

    &:disabled,
    &.disabled {
        color: $color;
        background: $hover-background;
        border-color: $border;
    }
}